.button{
  background-color: #F90;
  border: solid 2px #000;
}

.new-btn{
  background-color: #09F;
  width: 120px;
  border-radius: 5px;
  border: solid 2px #000;
  color: #FFF;
  text-align: center;
  cursor: pointer;
}

.wall-btn{
  background-color: #9F0;
  width: 120px;
  border-radius: 5px;
  border: solid 2px #000;
  color: #000;
  text-align: center;
  cursor: pointer;
}