.star{
  background-color: #FF0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: 0;
  -ms-filter: blur(6px);
  filter: blur(6px);
}

.sun{
  background-color: #0aF;
  height: 34vh;
  width: 34vh;
  border-radius: 50%;
  position: fixed;
  top: 33%;
  left: 33%;
  z-index: 0;
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.menu{
  position: relative;
  z-index: 1;
}
#wall-url,.wall-btn{
  position: relative;
  z-index: 1;
}


.show{
  &__window{
    width: 60%;
    height: 60%;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.9);
    background-image: url("book.jpg");
    background-size: 100%;
    filter: brightness(150%);
    border: solid 2px #fff;
    font-size: 22px;
    color: #000;
    position: fixed;
    right: 20%;
    bottom: 20%;
    text-decoration: none;
    z-index: 3;
    &__top{
      display: flex;
      height: 40px;
      width: 100%;
      background-color: #bbb;
      filter: brightness(66%);
      padding: 5px;
      border-bottom: solid 1px #fff;
      &__btn{
        text-align: right;
        height: 18px;
        width: 18px;
        line-height: 15px;
        background-color: #F33;
        border: solid 1px #FFF;
        border-radius: 50%;
        margin: 5px 0 0 5px;
        cursor: pointer;
      }
      &__btn:hover{
        
      }
      &__expansion{
        text-align: right;
        height: 18px;
        width: 18px;
        line-height: 15px;
        background-color: #3F3;
        border: solid 1px #FFF;
        border-radius: 50%;
        margin: 5px 0 0 10px;
        cursor: pointer;
      }
      &__mini{
        text-align: right;
        height: 18px;
        width: 18px;
        line-height: 15px;
        background-color: #FF3;
        border: solid 1px #FFF;
        border-radius: 50%;
        margin: 5px 0 0 10px;
        cursor: pointer;
      }
    }
  }
}